@import "slick";
@import "slicktheme";
@import "bootstrap"; // Load Bootstrap
@import "theme"; // Load Theme
@import "simplelineicon"; // Load Simple Icon

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-white);
}

// To remove outlines from Buttons, Inputs and Textarea
input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active,
button,
button:focus,
button:active {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 55px); // Header -55px and Footer -55px
  padding-top: 55px;
  width: 100%;
}

// Scrollbar ==================

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-z-black);
}

// Font Sizes ==================
.fs-10 {
  font-size: var(--font-size-10) !important;
}
.fs-12 {
  font-size: var(--font-size-12) !important;
}
.fs-14 {
  font-size: var(--font-size-14) !important;
}
.fs-16 {
  font-size: var(--font-size-16) !important;
}
.fs-18 {
  font-size: var(--font-size-18) !important;
}
.fs-18 {
  font-size: var(--font-size-20) !important;
}
