@import "../../../styles/theme";

.blog-detail-wrapper {
  .breadcrumbs {
    // background-color: var(--color-grey);
    text-align: center;
    font-size: var(--font-size-12);
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;

    i {
      display: inline-block;
      margin-bottom: -5px !important;
      font-weight: 600;
      font-size: var(--font-size-10);
      color: var(--color-grey);
    }
  }
  .blog-detail {
    padding: 15px 150px;
    .category-tag {
      text-transform: uppercase;
      padding: 0 30px;
      margin: 15px 0 5px 0;
      font-size: var(--font-size-12);
      font-weight: 600;
    }
    .title {
      padding: 0 30px;
      font-size: var(--font-size-32);
      font-weight: 500;
      margin: 0px 0 15px 0;
    }
    .description {
      margin: 0;
      padding: 0 30px;
      font-size: var(--font-size-16);
    }
    .other {
      display: flex;
      align-items: center;
      margin-top: 15px;
      padding: 0 30px;
      img {
        border-radius: 3px;
      }
      p {
        margin: 0;
      }
      i {
        display: flex;
        align-items: center;
      }
    }
    .blog-image {
      background: var(--color-grey);
      border: 0px solid transparent;
      width: 100%;
      // height: 400px;
      display: block;
      border-radius: 5px;
      object-fit: cover;
      object-position: center;
      margin: 30px auto;
    }

    .next-prev-links {
      p {
        margin: 0;
      }
      a {
        font-weight: 600;
        font-size: var(--font-size-18);
      }
      .next{
        text-align: right;
      }
    }
  }
}

.related-blogs {
  padding: 15px 145px;
}

// h1 - fs - 24px
// h2 - fs - 22px
// h3 - fs - 20px
// h4 - fs - 18px
// h5 - fs - 16px
// h6 - fs - 14px
// p - fs - 14px
// span - fs - 12px
.html-content {
  padding: 30px;

  margin-bottom: 30px;
  padding-top: 0;
  border-bottom: 1px solid var(--color-grey);
  text-align: justify;
  h1 {
    font-size: var(--font-size-24);
    margin: 10px 0;
  }
  h2 {
    font-size: var(--font-size-22);
    margin: 10px 0;
  }
  h3 {
    font-size: var(--font-size-20);
    margin: 10px 0;
  }
  h4 {
    font-size: var(--font-size-18);
    margin: 10px 0;
  }
  h5 {
    font-size: var(--font-size-16);
    margin: 10px 0;
  }
  h6 {
    font-size: var(--font-size-14);
    margin: 10px 0;
  }
  p {
    font-size: var(--font-size-14);
    margin-bottom: 5px;
  }
  p:blank {
    display: none;
  }
  br {
    display: none;
  }
  img {
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    max-width: 100%;
  }
  ul {
    font-size: var(--font-size-14);
  }
  strong {
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .blog-detail-wrapper {
    .blog-detail {
      padding: 15px 0px;
      .category-tag {
        padding: 0px;
      }
      .title {
        padding: 0;
      }
      .description {
        padding: 0;
      }
      .other {
        padding: 0;
      }
    }
  }
  .related-blogs {
    padding: 15px 0px;
  }
  .html-content {
    padding: 0px;
  }
  .next-prev-links {
    text-align: center!important;
    p {
      margin: 0;
    }
    a {
      font-weight: 600;
      font-size: var(--font-size-18);
    }
    .next {
      text-align: center!important;
    }
  }
}
