@import "../../styles/theme";

.typehead-container {
  padding: 8px 0;
  .typehead {
    width: 100%;
    background-color: var(--color-grey);
    border: 0;
    height: 38px;
    border-radius: 50px;
    padding: 0 20px;
    font-size: var(--font-size-14);
  }
  ::-webkit-input-placeholder {
    /* Edge */
    text-align: center;
    font-weight: 500;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: center;
    font-weight: 500;
  }

  ::placeholder {
    text-align: center;
    font-weight: 500;
  }
}
