@import "../../styles/theme";

.heading-wrapper {
  margin: 15px 0;
  border-bottom: 2px solid var(--color-grey);
  h2 {
    font-weight: 800;
    display: inline-block;
    padding: 15px 0;
    border-bottom: 2px solid var(--color-black);
    margin-bottom: -2px;
    font-size: var(--font-size-20);
  }
  h3 {
    font-weight: 500;
    display: inline-block;
    padding: 19px 0;
    border-bottom: 2px solid var(--color-black);
    margin-bottom: -2px;
    font-size: var(--font-size-14);
  }
}
